@font-face {
    font-family: 'museo300';
    src: url('museo300.otf');

}

@font-face {
    font-family: 'qontra';
    src: url('qontra.otf');

}

@font-face {
    font-family: 'sansproregular';
    src: url('sansproregular.otf');

}

@font-face {
    font-family: 'sansprolight';
    src: url('sansprolight.otf');

}
